/* A little reset  */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Kumbh sans", sans-serif;
}
body {
  position: relative;
  max-width: 1460px;
  display: flex;
  margin: 0 auto;
}
li {
  list-style: none;
}
a {
  color: black;
}

.global__container {
  margin: 0 14%;
}

/* Design for the header */
.mobile__menu {
  position: absolute;
  background-color: white;
  height: 120%;
  width: 55%;
  margin-top: -25px;
  padding: 50px 0px 0px 30px;
  display: none;
  z-index: 90000000000000;
}
.globalFilter {
  position: fixed;
  width: 50%;
  height: 100%;
  top: 0;
  left: 55%;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.219);
  z-index: 2;
  justify-content: center;
  align-items: center;
  display: flex;
  visibility: hidden;
  z-index: 999999999999;
}

.hamburger__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5px;
  display: none;
  cursor: pointer;
}
.line {
  width: 15px;
  color: black;
  background-color: black;
  height: 3px;
  margin-bottom: 3px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin-top: 25px;
  border-bottom: 1.3px solid hsl(220, 14%, 75%);
  width: 100%;
}

.links__block {
  display: flex;
  align-items: center;
  width: 65%;
  margin-bottom: 50px;
}

.links__list {
  display: flex;
  margin-left: 6%;
}
.links__list li {
  margin: 0 10px;
  margin-top: 60px;
}
.links__list li a {
  color: hsl(219, 9%, 45%);
  margin-bottom: 500000000000px;
}

.links__list li a::after {
  content: " ";
  display: block;
  background-color: hsl(26, 100%, 55%);
  width: 30%;
  height: 0px;
  margin-top: 55px;
  opacity: 0;
  transition: 0.8s;
}

.links__list li a:hover::after {
  opacity: 1;
  width: 100%;
  height: 5px;
  margin-top: 50px;
}
.productStorage__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  margin-bottom: 50px;
  position: relative;
}
.cart__header {
  cursor: pointer;
}
.customer__picture {
  width: 50px;
  height: 50px;
  border: solid 0px orange;
  border-radius: 50%;
  transition: 0.8s;
  cursor: pointer;
}

.customer__picture:hover {
  border: solid 3px orange;
}

.orange__bubble {
  background-color: coral;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  top: 1%;
  right: 70%;
  display: none;
}
.orange__number {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.display__cart {
  display: block;
}

/* Design for the cart section */
.cart__section {
  position: absolute;
  top: 7%;
  right: 9%;
  background-color: #fff;
  z-index: 5000;
  width: 300px;
  height: 300px;
  box-shadow: -3px 33px 48px 1px rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  display: none;
}
.cart__name {
  margin: 20px 0px 0px 20px;
  font-weight: 900;
  font-size: 20px;
}
.cart__border {
  margin-top: 20px;
  border-bottom: 1px solid hsl(219, 9%, 45%);
}
.empty__message {
  text-align: center;
  margin: 95px auto 0px auto;
  font-weight: 900;
  color: hsl(219, 9%, 45%);
  font-size: 17px;
}
.full__cart {
  margin: 20px 20px 0px 20px;
  display: none;
}
.invisible__cart { 
  display: none;
}
.hide__message {
  display: none;
}

.visible__cart {
  display: block;
}
.full__name {
  color: hsl(215, 11%, 34%);
  margin-bottom: 6px;
}
.first__line {
  display: flex;
  align-items: center;
}
.full__thumbnail {
  margin-right: 8px;
}
.full__price {
  display: flex;
  align-items: center;
}

.full__price p {
  margin-right: 8px;
}
.gray__dollar,
.multiply,
.single__price,
.full__quantity {
  color: hsl(215, 11%, 34%);
}

.gray__dollar, .multiply, .black__dollar {
  margin-right: 2px;
  
}

.black__dollar,
.full__total {
  font-weight: 900;
  font-weight: 22px;
}

.full__thumbnail {
  width: 65px;
  height: 65px;
  border-radius: 8px;
}

.checkout__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  width: 100%;
  border: none;
  outline: none;
  height: 60px;
  border-radius: 10px;
  background-color: hsl(26, 100%, 55%);
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
}
/* Design for the main part  */

main {
  margin-top: 60px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.mobile__block {
  display: none;
}

main img {
  border-radius: 15px;
}

.slider__block,
.texts__block {
  width: 40%;
}

.biggest__photo {
  width: 100%;
  min-width: 400px;
  object-fit: cover;
  height: 535px;
  margin-bottom: 25px;
}
.smallPhotos__block {
  display: flex;
  justify-content: space-between;
  min-width: 400px;
}
.smallPhotos__block img {
  width: 20%;
  min-width: 85px;
  cursor: pointer;
  transition: 0.6s;
}

.small__opacity {
  opacity: 0.5;
  border: 3.5px solid orange;
}

.modal__block {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10000;
  display: none;
}

.active__modale {
  display: block;
}

.block__image {
  position: absolute;
  top: 345px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  height: 500px;
}
.product__image {
  display: none;
}

.block__image .central__image {
  width: 100%;
}
.central__image {
  display: block;
}

.thumbnail__images {
  display: flex;
  justify-content: center;
  margin-top: 650px;
}
.thumbnail__images img {
  width: 90px;
  margin: 20px;
  cursor: pointer;
}

.close__modal {
  position: absolute;
  z-index: 5000;
  top: -10%;
  right: -7%;
  width: 60px;
  width: 60px;
  cursor: pointer;
  font-size: 28px;
  color: white;
  font-weight: 900;
}
.next__slide,
.prev__slide {
  position: absolute;
  top: 52%;
  right: -7%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.prev__slide {
  right: none;
  left: 0%;
}

.slide__move:hover path {
  stroke: rgb(255, 0, 0);
}

.texts__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  margin-top: 13vh;
}

.orange__title {
  color: hsl(26, 100%, 55%);
  letter-spacing: 1.5px;
  font-size: 17px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.black__title {
  font-size: 40px;
  font-weight: 900;
  line-height: 50px;
  margin-bottom: 30px;
}
.sneakers__description {
  font-size: 16px;
  line-height: 26px;
  color: hsl(220, 14%, 75%);
  font-weight: 900;
}
.prices {
  display: flex;
  flex-direction: column;
  margin-top: 8%;
  margin-bottom: 12%;
}
.current__price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.new__price {
  margin-right: 25px;
  font-weight: 900;
  font-size: 32px;
}
.empty__div {
  background-color: hsl(25, 100%, 94%);
  padding: 5px 8px;
  border-radius: 8px;
  width: 55px;
}
.price__discount {
  text-align: center;
  color: hsl(26, 100%, 55%);
  font-weight: 900;
  font-size: 18px;
}

.old__price {
  text-decoration: line-through;
  font-size: 18px;
  color: hsl(219, 9%, 45%);
}

.cart__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}
.quantity__choice {
  background-color: hsl(223, 64%, 98%);
  display: flex;
  width: 38%;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}
.quantity__choice button {
  outline: none;
  border: none;
  background-color: hsl(223, 64%, 98%);
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.add__product {
  width: 56%;
  height: 50px;
  border-radius: 10px;
  transition: 0.8s;
  background-color: hsl(26, 100%, 55%);
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.add__product:hover {
  background-color: hsla(26, 100%, 55%, 0.521);
  box-shadow: 0px 0px 30px -5px hsl(25, 100%, 94%);
}

.add__product img {
  fill: white;
  cursor: pointer;
}

.add__product p {
  outline: none;
  border: none;
  color: white;
  text-align: center;
  margin-left: 20px;
  font-weight: 900;
  font-size: 18px;
  cursor: pointer;
}

footer .attribution {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
footer .attribution p {
  margin-right: 5px;
}
.appearance {
  display: block;
}
.disAppearance {
  display: none;
}
.toggleVisibilty {
  visibility: visible;
}

/* Responsive Part */
@media screen and (max-width: 1140px) {
  .global__container {
    margin: 0 2%;
  }
}

@media screen and (max-width: 855px) {
  main {
    justify-content: space-around;
  }

  .biggest__photo {
    min-width: 0px;
    width: 212px;
    height: 314px;
  }
  .smallPhotos__block {
    flex-wrap: wrap;
    width: 212px;
    min-width: 0;
  }
  .smallPhotos__block img {
    margin-bottom: 20px;
    height: 92px;
    width: 100px;
    object-fit: cover;
  }
  .texts__block {
    margin-top: 1vh;
  }
  .orange__title {
    font-size: 15px;
    margin-bottom: 12px;
  }
  .black__title {
    font-size: 30px;
    font-weight: 900;
    line-height: 40px;
    margin-bottom: 15px;
  }
  .sneakers__description {
    font-size: 15px;
    line-height: 22px;
  }
  .new__price {
    font-size: 24px;
  }
  .price__discount {
    font-size: 15px;
  }
  .old__price {
    font-size: 14px;
  }
  .cart__block {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .quantity__choice {
    width: 91%;
    margin-bottom: 25px;
  }
  .add__product {
    width: 91%;
  }
}
@media screen and (min-width: 715px) {
  .mobile__menu,
  .globalFilter {
    display: none;
  }
}
@media screen and (max-width: 715px) {
  .global__container {
    margin: 0px 5%;
  }
  .links__list {
    display: none;
  }
  .hamburger__menu {
    display: block;
    margin: 8px 10px 0px 10px;
  }

  .cross__sign {
    margin-bottom: 50px;
    cursor: pointer;
  }
  .mobile__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 260px;
  }
  .items__mobile {
    font-weight: 900;
    cursor: pointer;
  }
}

@media screen and (max-width: 620px) {
  .global__container {
    margin: 0px 0%;
  }

  header {
    justify-content: space-around;
  }
  .cart__section {
    right: -50%;
    left: -50%;
    right: 0%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 92%;
    top: 90px;
    transform: translateX(-50%);
    height: 220px;
  }

  .empty__message {
    margin-top: 55px;
  }

  .modal__block {
    display: none;
  }
  main {
    flex-direction: column;
    margin-top: 0;
  }
  main img {
    border-radius: 0;
  }
  .container__photo {
    position: relative;
  }
  .slider__block {
    width: 100%;
  }
  .slider__block {
    display: none;
  }
  .mobile__block {
    display: block;
    position: relative;
  }

  .arrow__move {
    position: absolute;
    top: 45%;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .arrow__move:hover path {
    stroke: hsl(26, 100%, 55%);
  }
  .prev__photo {
    left: 7%;
  }

  .next__photo {
    right: 7%;
  }
  .invisible__image {
    display: none;
  }
  .first__image {
    width: 100%;
    display: block;
  }
  .texts__block {
    margin: 25px 5% 0px 5%;
    width: 95%;
  }
  .sneakers__description {
    width: 92%;
  }
  .prices {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .old__price {
    margin-right: 30px;
    margin-bottom: 10px;
  }
  .quantity__choice,
  .add__product {
    width: 100%;
  }
}
@media screen and (max-width: 420px) {
  footer {
    margin-top: 100px;
  }
}
